.poll-btn{
    display: grid;
    margin-top: 250px;
    place-items: center;
}


button{
    padding: 10px 50px;
    color: white;
    font-weight: 600;
    font-size: medium;
    background-color: #026666;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #03b1b1;
    box-shadow: #026666 0px 5px 15px;;
}